<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209365425642-rea1tohi456k2vur9sc4u7n10u57otd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209365425642-rea1tohi456k2vur9sc4u7n10u57otd3</string>
	<key>API_KEY</key>
	<string>AIzaSyDt-giB3l39D0yxXwha6OEd7g_yiDqCpTY</string>
	<key>GCM_SENDER_ID</key>
	<string>209365425642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.fownd.fownd</string>
	<key>PROJECT_ID</key>
	<string>fownd-292b7</string>
	<key>STORAGE_BUCKET</key>
	<string>fownd-292b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209365425642:ios:6248c9fb3e505eba986693</string>
</dict>
</plist>